@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f1f5f9;
}


button {
  cursor: pointer;
}

textarea,
input,
button {
  font: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}